paragraph=str(input("Write Your paragraph/essay:"))

print("Options: 1. Number of words in paragraph/essay \n 2. Number of sentences in paragraph/essay \n 3. Most frequent words in paragraph/essay \n 4. Tabular form ")
options=(input("Choose any of the options:"))
number_of_words_in_para = len(paragraph.split())
number_of_sentences_in_para= len(paragraph.split("."))-1
from collections import Counter
word_list = paragraph.split()
word_count = Counter(word_list)
a=word_count.most_common(1)
b=str(a)[1:-1]
if options=="1":
    print("Number Of Words In Paragraph/Essay:", number_of_words_in_para)
    
elif options=="2":
    p=paragraph.split()
    for i in range (len(p)):
      if p=="Dr.":
            index=int(p.index("Dr."))
            p[index]="Dr"
      elif p=="Ms.":
            index=int(p.index("Ms."))
            p[index]="Ms"
      elif p=="Mr.":
            index=int(p.index("Mr."))
            p[index]="Mrs"
      elif p=="Mrs.":
            index=int(p.index("Mrs."))
            p[index]="Mr"
  
    print("Number Of Sentences In Paragraph/Essay:", number_of_sentences_in_para)
    
elif options=="3":
    print("Most Frequent Words Used In Paragraph/Essay:", b)

elif options=="4":
    from tabulate import tabulate
    mydata = [
    ["Number of words in paragraph-", number_of_words_in_para],
    ["Number of sentences in paragraph-", number_of_sentences_in_para],
    ["Most frequent words used in paragraph-", b]
    ]
    head = ["Calculation of:", "Values"]
    print(tabulate(mydata, headers=head, tablefmt="grid"))

else:
    print("Choose from above options only.")
